.content {
  background: #87a11a;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: repeat(20rem, auto);
  gap: 1rem;
  padding: 5rem;
  position: relative;
  z-index: 1;
  .menu {
    text-decoration: none;
    position: absolute;
    cursor: pointer;
    background: rgba(#88c9e5, 0.7);
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
    top: 2rem;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: -0.1rem 0.1rem 0.1rem 0rem rgba(#000000, 0.1);
    transition: all 0.3s ease-out;
    &:hover {
      background: rgba(#88c9e5, 0.9);
    }
    button {
      cursor: pointer;
      background: none;
      font-size: 1.2rem;
      color: #ffffff;
      border: none;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.2rem;
    }
  }
  .box {
    background: rgba(#88c9e5, 0.7);
    padding: 2rem 3rem;
    border-radius: 0.5rem;
    box-shadow: -0.1rem 0.1rem 0.5rem 0.1rem rgba(#000000, 0.2);
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.3s ease-out;
    &:hover {
      background: rgba(#88c9e5, 0.9);
    }
    P {
      color: #595959;
      font-size: 1.2rem;
      line-height: 2rem;
    }
  }
  img {
    width: 10rem;
    height: 10rem;
  }
}
